.calcButton {
  background-color: #3c4142;
  color: #fff;
  border-radius: 4px;
  border-style: unset;
  font-size: 1rem;
  font-weight: light;
  &:hover,
  &:active {
    background-color: #463c3c;
  }
  &.numerical {
    opacity: 0.8;
  }
}
