.calcButton {
    background-color: #3C4142;
    color: #fff;
    border-radius: 2px;
    border-style: unset;
    &:hover, &:active {
        background-color: #463c3c;
    }
    &.numerical {
        opacity: .8;
    }
}