.calcDisplay {
    inline-size: 100%;
    block-size: auto;
    aspect-ratio: 3.5/1;
    background-color: transparent;
    direction: rtl;
    padding-inline: 2.5%;
    padding-block-start:  2.5%;
    margin-block-end: 5%;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: flex-end;
}