.buttonPanelContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    & .buttonPanel {
        padding-block: 5px;
        padding-inline: 5px;
        block-size: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1fr);
        gap: 3px;

    }
}