.calcBody {
  inline-size: 350px;
  max-inline-size: 100%;
  block-size: 500px;
  max-block-size: 100%;
  background-color: rgb(28, 27, 29);
  display: flex;
  flex-flow: column;
  box-shadow: 0 0 12px grey;
}
